/* ---------- basics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: manrope, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: manrope;
  src: url(../fonts/Manrope[wght].ttf);
}
@font-face {
  font-family: acme;
  src: url(../fonts/Acme-Regular.ttf);
}
@font-face {
  font-family: anek;
  src: url(../fonts/AnekBangla-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: chenla;
  src: url(../fonts/Chenla\ Regular.ttf);
}
@font-face {
  font-family: mono;
  src: url(../fonts/B612Mono-Regular.ttf);
}

h1 {
  font-size: clamp(2.5rem, 3.42864rem + 1.7857vw, 5rem);
  font-weight: 800;
}
h2 {
  font-family: acme, Arial, Helvetica, sans-serif;
  font-size: clamp(1.125rem, 1.68rem + 0.3571vw, 1.625rem);
}
h3 {
  font-size: clamp(1.375rem, 2.08rem + 0.3571vw, 1.875rem);
  font-weight: 700;
  color: #282828;
}
h4 {
  font-size: clamp(2.1875rem, 3.344rem + 0.4464vw, 2.8125rem);
  font-weight: 800;
}
h5 {
  font-size: clamp(1rem, 1.424rem + 0.5357vw, 1.75rem);
  font-weight: 700;
}
h6 {
  font-size: clamp(1.25rem, 1.82rem + 0.5357vw, 2rem);
  font-weight: 600;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 2rem;
  color: #757095;
}
.button {
  padding: 1rem 4rem;
  border-radius: 5rem;
  background-color: #05796b;
  font-size: 1.8rem;
  color: white;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

/* ------------------ header + nav*/

header {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 25vh;
  background: url(../img/hero_img.png) no-repeat;
  background-position: right top 20vh;
  background-size: 50vw;
}

/* ---------- nav */
nav {
  padding-bottom: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.danial {
  font-family: anek, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
nav div a {
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-mid {
  display: flex;
  gap: 5rem;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav-right a:nth-of-type(2) {
  background-color: #f57059;
}

/* ------- arrow-style */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* ----------- header */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  width: 50%;
}
.header-container a {
  max-width: 17rem;
}

.header-subcont {
  padding-top: 5vh;
  padding-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.header-subcont div {
  max-width: 70%;
}

.header-subcont div p {
  padding-top: 1.5rem;
  font-family: anek, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  color: #8593a3;
}
.brands-headl {
  font-family: acme, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  text-align: center;
  display: block;
}
.brands {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
.brands img {
  max-width: 15%;
}

/* ----------------- main */

/* ----------- services */

.services {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 25vh;
  background: url(../img/save_time_bg.png) no-repeat;
  background-position: right top;
  background-size: 60vw;
}

.services span {
  font-family: anek, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-bottom: 2vh;
}
.services h4 {
  display: block;
  text-align: center;
}

/* ------- services grid */

.services-grid {
  padding-top: 8vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 2.7rem;
}
.services-grid article {
  border: 1px solid #e7e7e7;
  background-color: white;
  border-radius: 15px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}
.services-grid article p {
  font-size: 1.2rem;
  color: #757095;
}
.services-grid article img {
  background-color: #ececec;
  width: 23%;
  border-radius: 5px;
}
/* ------- last grid */

.services-grid .grid-green {
  background-color: #05796b;
  color: white;
  gap: 4rem;
}
.services-grid .grid-green h5 {
  font-size: 3.3rem;
}
.services-grid .grid-green p {
  color: white;
}

/* --------------- process */

.process-headl {
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ------ process-icons */

.process-icons {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-register-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px transparent black;
  border-radius: 50%;
  padding: 3rem;
  box-shadow: 6px 8px 80px 0px rgba(148, 148, 148, 0.16);
}
.icon-compl-util-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #939393;
  border-radius: 50%;
  padding: 3rem;
}
.process-icons article:nth-child(odd) {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.process-icons article:nth-child(even) {
  max-width: 120%;
  /* background-color: yellow; */
  padding-bottom: 9%;
}
.process-icons article span {
  align-self: flex-start;
  font-family: mono, Arial, Helvetica, sans-serif;
  border: 1px transparent black;
  border-radius: 50%;
  background-color: #f6f6f7;
  padding: 1rem 1.7rem;
  font-size: 1.8rem;
}
.process-icons article .number-one {
  background-color: white;
  box-shadow: 8px 8px 80px 0px rgba(167, 167, 167, 0.8);
}
.process-icons article p {
  font-size: 1.6rem;
  width: 150%;
  text-align: center;
}

/* --------------- download */

.download {
  padding-left: 22vw;
  padding-right: 22vw;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.download span {
  font-family: anek, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #f57059;
  text-transform: uppercase;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.button-wrapper a:first-of-type {
  background-color: #f57059;
}

/* ------------- repair */

.repair {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.repair-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.repair-right a {
  align-self: flex-start;
}

/* ------------ offer */

.offer {
  padding-left: 15vw;
  /* padding-right: 10vw; */
  padding-bottom: 25vh;
  padding-top: 8vh;

  /* background-size: 60vw; */
}
.offer-wrapper span {
  font-size: 4.6rem;
  font-weight: 800;
}
.offer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
}
.offer-tiles {
  padding-top: 12vh;
  background: url(../img/save_time_bg.png) no-repeat;
  background-position: center top;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.offer-tiles article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  border: 1px solid rgba(167, 167, 167, 0.24);
  border-radius: 16px;
  box-shadow: 0px 8px 80px 0px rgba(5, 121, 107, 0.32);
  padding: 3.2rem;
  width: 70%;
  background-color: white;
}

.offer-tiles article p {
  font-size: 1.6rem;
  color: #8593a3;
}
.offer-tiles article .price {
  font-size: 6.4rem;
  color: #282828;
}
.price span {
  font-size: 1.6rem;
  color: #8593a3;
  font-weight: 700;
}
.offer-tiles article p:nth-of-type(3) {
  border-bottom: 1px solid #8593a3de;
  padding-bottom: 4rem;
}
.offer-tiles article ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  list-style-type: none;
}
/* .offer-tiles article img {
  display: block;
} */
.offer-tiles article li {
  font-size: 1.6rem;
  color: #8593a3;
}
.offer-tiles article a {
  width: 100%;
  text-align: center;
}

/* --------- green tile */

.offer-tiles .tile-right {
  background-color: #05796b;
}
.offer-tiles .tile-right p,
.offer-tiles .tile-right li,
.offer-tiles .tile-right span {
  color: white;
}
.offer-tiles .tile-right a {
  background-color: white;
  color: #05796b;
  width: 100%;
  text-align: center;
}

/* ----------- white tile */

.offer-tiles .tile-left li:nth-of-type(3),
.offer-tiles .tile-left li:nth-of-type(4) {
  color: #8593a375;
}

/* ------------- testimonials */

.testimonials {
  padding-left: 10vw;
  padding-right: 10vw;
}

.testimonials span {
  display: block;
  text-align: center;
  font-family: anek, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #3734a9;
}
.testimonials h4 {
  text-align: center;
  padding-bottom: 5vh;
}
.ceo {
  font-size: 1.6rem;
}
.testim-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.testim-left img {
  width: 60%;
}

.testim-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.testim-right img:nth-of-type(1) {
  width: 10%;
}
.testim-right img:nth-of-type(2) {
  width: 35%;
}
.testim-right img:nth-of-type(3) {
  width: 20%;
  align-self: flex-end;
  margin-top: -8rem;
}
.testim-wrapper {
  display: flex;
  flex-direction: column;
}

/* ---------- discover */

.discover {
  padding-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 20vh;
}

.disc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #05796b;
  border-radius: 16px;
  padding: 10%;
}
.disc-headl {
  font-size: 5.6rem;
  font-weight: 800;
  color: white;
  text-align: center;
}
.discover .button {
  background-color: #ff7f5c;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

/* -------------- footer */

footer {
  padding-left: 10vw;
  padding-right: 10vw;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}
.footer-flex article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 11rem;
}
.fo-fl-headl {
  font-size: 2.1rem;
  font-weight: 700;
  color: #181433;
}
.fo-first-article-text {
  font-size: 1.6rem;
  color: #757095;
}
.footer-flex span {
  font-size: 1.6rem;
  counter-reset: #181433;
}
.socials {
  display: flex;
  gap: 1rem;
}
/* .footer-flex span .contact-us {
  width: 120%;
  font-size: 1.4rem;
} */
.copyright {
  padding-top: 7vh;
  padding-bottom: 5vh;
  font-family: chenla, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: #181433;
  text-align: center;
}
/* -------------------------------------------------------- */

/* ----------------- TABLET */

@media only screen and (max-width: 768px) {
  /* ------ header */

  header {
    background-position: right top 50vh;
    background-size: 40vw;
  }
  .danial {
    font-size: 1.1rem;
    width: 30%;
  }
  .brands {
    padding-top: 2vh;
  }
  .brands-headl {
    font-size: 1.5rem;
  }
  /* -------- repair */
  .repair-right a {
    align-self: center;
  }
  /* ------ offer */
  .offer-tiles article {
    gap: 1rem;

    width: 80%;
  }
  /* ----- testimonials */
  .testim-right {
    gap: 2rem;
  }
  footer {
    transform: scale(0.7);
  }
}
